<h2>Valeurs glycémiques</h2>
<table>
  <thead>
  <tr>
    <th>Id Glycémie</th>
    <th>Date</th>
    <th>Heures</th>
    <th>Valeur</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let glycemie of GlycemieListAll">
    <td>{{ glycemie.id }}</td>
    <td>{{ glycemie.date }}</td>
    <td>{{ glycemie.heures }}</td>
    <td>{{ glycemie.valeur }}</td>
    <td>
      <a routerLink="/edit/{{ glycemie.id }}">Update</a>
      <button type="button" (click)="deleteGlycemie(glycemie.id)"  >Delete</button>

    </td>

  </tr>
  </tbody>
</table>



  <div class="chart">
    <canvas id="chart-1"></canvas>
  </div>

