<!-- src/app/navbar/navbar.component.html -->
<section class="container">
  <header class="navbar navbar-expand-md bg-dark text-light">
    <div class="container-fluid">
      <div class="navbar-brand">
        <h1>Oussama</h1>
      </div>
      <button class="navbar-toggler" type="button"
              data-bs-toggle="collapse"
              data-bs-target="#mainMenu"
              aria-controls="mainMenu"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="mainMenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a href="#" class="nav-link">Ajouter</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Afficher</a></li>
        </ul>
      </div>
    </div>
  </header>
</section>
